<head>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>

<footer class="site-footer">
  <div class="footer-content">
    <p>&copy; {{ site.time | date: "%Y" }} Ginny Perkey. All rights reserved.</p>
    <ul class="footer-social-media">
      <li><a href="https://github.com/ginnyp" target="_blank" class="social-icon">
        <i class="fab fa-github"></i> GitHub
      </a></li>
      <li><a href="https://www.linkedin.com/in/ginnyperkey" target="_blank" class="social-icon">
        <i class="fab fa-linkedin"></i> LinkedIn
      </a></li>
    </ul>
  </div>
</footer>
